<div class="container blackboard">
  <h1>Chronological Site Map Template</h1>

  <div class="row">
    <div class="col-md-3">
      <ul>
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/veiw">View</a></li>
        <li><a routerLink="/add">Add</a></li>
        <li><a routerLink="/login">Log In</a></li>
      </ul>
    </div>
    <div class="col-md-3">
      <ul>
        <li><a routerLink="/edit-jewelry-page?id=testing&index=0#editing">Home</a></li>
        <li><a routerLink="/pagenotfound-lost-error404">Error 404</a></li>
      </ul>
    </div>
  </div>
</div>
