<!--<div class="col-xs-3">-->
<!--  <div class="row">-->
<!--    <a routerLink="/"></a>-->
<!--  </div>-->
<!--  <p class="invisible">Fill</p>-->
<!--  <div class="row">-->
<!--    <a routerLink="/"></a>-->
<!--  </div>-->
<!--  <p class="invisible">Fill</p>-->
<!--  <div class="row">-->
<!--    <a routerLink="/"></a>-->
<!--  </div>-->
<!--</div>-->


<div class="container-fluid blackboard" style="width: 100%">
  <h1 class="text-center">Site Map</h1>

  <div class="col-xs-3">
    <div class="row">
      <a routerLink="/home">Home</a>
    </div>
    <p class="invisible">Fill</p>
    <div class="row">
      <a routerLink="/add">Add</a>
    </div>
    <p class="invisible">Fill</p>
    <div class="row">
      <a routerLink="/veiw">Veiw</a>
    </div>
  </div>


  <div class="col-xs-3">
    <div class="row">
      <a routerLink="/login">Log In</a>
    </div>
    <p class="invisible">Fill</p>
    <div class="row">
      <a routerLink="/pagenotfound-lost-error404">Error 404</a>
    </div>
    <p class="invisible">Fill</p>
    <div class="row">
      <a routerLink="/test/edit-jewelry-page">Edit</a>
    </div>
  </div>

</div>


<h1 class="invisible">Fill</h1>
