<!-- <button class="btn btn-warning form-control" (click)="logger()">logger</button> -->

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="username">User Name : </label>

          <input
            type="text"
            id="username"
            formControlName="username"
            class="form-control"
          />
        </div>

        <div class="form-group">
          <label for="password">Password : </label>

          <input
            type="password"
            id="password"
            formControlName="password"
            class="form-control"
          />
        </div>

        <button
          class="btn btn-warning"
          type="submit"
          style="width: 100%"
          [disabled]="!loginForm.valid">
          Login
        </button>

        <hr>

        <img src="../../../assets/images/MainLogo.png" alt="" width="100%" height="50%">

      </form>


    </div>
  </div>
</div>
