<nav class="navbar navbar-inverse">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/home">
        <img src="../../../assets/images/MainLogo.png" style=" width: 40px; height: 30px;" alt="">
      </a>
      <a routerLink="/home" class="navbar-brand x darken">Piansh Jewlry Store</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/home">Home</a></li>
        <li routerLinkActive="active"><a routerLink="/veiw">Veiw</a></li>
        <li routerLinkActive="active"><a routerLink="/add">Add </a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <a routerLink="/login" class="text-center" style="color: white">
          <img
            style="margin-top: 5px; margin-bottom: 5px; border-radius: 50px"
            src="../../../assets/images/Login.png"
            alt=""
            width="40" cls

            height="40">
          Log In
        </a>
      </ul>
    </div>
  </div>
</nav>
