<div class="jumbotron text-center" style="margin-bottom:0">
  <h1>Piansh Jewelry Store</h1>
  <p>Prakash+Isha+Anousha+Shivansh</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h2>About Us</h2>
      <p>Prakash is a software engineer. Isha is a artist and a cook. Anousha is crazy. Shivansh loves to code.</p>
      <h3>Some Important Links</h3>
      <ul class="nav nav-pills nav-stacked">
        <li routerLinkActive="active"><a routerLink="/veiw">Veiw</a></li>
        <li routerLinkActive="active"><a routerLink="/add">Add </a></li>
      </ul>
      <hr class="hidden-sm hidden-md hidden-lg">

      <h3>Chill Music : </h3>

      <iframe width="350" height="300" src="https://www.youtube.com/embed/wAPCSnAhhC8" title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
    </div>
    <div class="col-sm-8">
      <h2>Piansh Jewelry Store</h2>
      <h5>Official Start Date : undefined</h5>
      <img src="../../assets/images/familyPhoto.jpg" alt="Family Photo" style="width: 100%; height: 20%">
      <p>All of us (including my grandma)</p>
      <p>Piansh jewelry store is a ui for managing jewelry inventory and properties of a jewelry. This website was made
        for
        Isha. Thought this website was programed by Shivansh. The code was migrated by Prakash. And Anousha gave a lot
        of annoying moral support.</p>
    </div>
  </div>
</div>
