<div class="center border-floating-card">
  <h3 class="modal-title text-center">
    {{ jewelry.nameOfItem }}
  </h3>

  <hr class="very-black-line" />

  <div class="row">
    <div class="col">
      <img
        [src]="jewelry.pic"
        alt=""
        style="margin-left: 5px; max-width: 350px; max-height: 350px;"
      />
      <div class="col-lg-6 information">
        <h6 class="list-group-item-text">Brand : {{ jewelry.brand }}</h6>
        <h6 class="list-group-item-text">
          Purchased From : {{ jewelry.purchasedFrom }}
        </h6>
        <h6 class="list-group-item-text">Quantity : {{ jewelry.quantity }}</h6>
        <h6 class="list-group-item-text">
          Condition : {{ jewelry.conditionOfItem }}
        </h6>
        <h6 class="list-group-item-text">Metal : {{ jewelry.metal }}</h6>
        <h6 class="list-group-item-text">Cost : ${{ jewelry.cost }}</h6>
        <h6 class="list-group-item-text">OrderId : {{ jewelry.orderId }}</h6>
        <h6 class="list-group-item-text">
          Date Purchased : {{ jewelry.dataPurchesed | date }}
        </h6>
        <h6 class="list-group-item-text">Weight : {{ jewelry.weight }}g.</h6>
        <h6 class="list-group-item-text">Stone : {{ jewelry.stone }}</h6>
        <h6 class="list-group-item-text">Sold In : {{ jewelry.soldin }}</h6>
        <h6 class="list-group-item-text">Sales Price : {{ jewelry.salesprice }}</h6>
        <h6 class="list-group-item-text">Pandora Id : {{ jewelry.pandoraid }}</h6>

      </div>
    </div>

    <button class="btn btn-danger" (click)="close()">Ok !!!</button>
    
  </div>
</div>
