/* You can add global styles to this file, and also import other style files */

.clear {
  opacity: 0;
}

.darken {
  color: black;
}

input {
  margin-left: 10px;
  width: 90px;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched{
  border: 1px solid red;
}

.blackboard {
  background: black;
  color: white;
}

.width-fifty{
  width: 50%;
}

.height-fifty{
  height: 50%;
}

.width-height-fifty{
  width: 50%;
  height: 50%;
}

.quad {
  width: 25%;
}

.btn-happy {
  color: #fff;
  background-color: #ff00f7;
  border-color: #ff00f7;
}

.blue {
  text-decoration-color: #5bc0de;
}
