/* You can add global styles to this file, and also import other style files */

.clear {
  opacity: 0;
}

.darken {
  color: black;
}

input {
  margin-left: 10px;
  width: 90px;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched{
  border: 1px solid red;
}

.blackboard {
  background: black;
  color: #ff00d9;
}

.Fifty-Fifty{
  width: 50%;
}

.Fifty-Fifty-Fifty-Fifty{
  width: 50%;
  height: 50%;
}
