<div class="col-xl-12">
  <div class="row">
    <div class="main">
      <div style="margin-right: 5px">
        <input
          type="text"
          placeholder="Search"
          width="100p"
          list="vals"
          class="form-control blue"
          [ngModel]="searchthing"
        />

        <datalist id="vals">
          <option *ngFor="let j of propsThatAreDefined" [value]="j"></option>
        </datalist>
      </div>

      <button class="btn btn-primary">🔍</button>

      <button class="btn btn-primary shad">View All</button>

      <select
        class="btn btn-primary"
        name="Look~In"
        style="color: white"
        (change)="setstr($event)"
      >
        <option style="color: white">Look~In</option>
        <option
          value=""
          class="form-control btn-primary"
          *ngFor="let prop of props"
          [ngValue]="prop"
        >
          {{ prop }}
        </option>
      </select>

      <select class="btn btn-primary" name="Look~In" style="color: white">
        <option style="color: white">Sort-by</option>
        <option
          value=""
          class="form-control btn-primary"
          *ngFor="let prop of props"
          [ngValue]="prop"
        >
          {{ prop }}
        </option>
      </select>

      <button
        class="btn btn-primary"
        (click)="changePage(false)"
        [disabled]="canGoBack"
      >
        ◁
      </button>

      <!-- <select name="Amount" class="btn btn-primary">
        <option style="color: white">Amount</option>
        <button (click)="changeAmount(1)">1</button>
      </select> -->

      <select
        class="btn btn-primary"
        name="Stone"
        id="sto"
        (change)="changeAmount($event)"
      >
        <option value="" style="color: aliceblue">Amount</option>
        <option class="btn btn-primary" *ngFor="let num of nums">
          {{ num }}
        </option>
      </select>

      <button
        class="btn btn-primary"
        (click)="changePage(true)"
        [disabled]="canGoForward"
      >
        ▷
      </button>
    </div>
  </div>
  <hr />

  <ul class="list-group">
    <app-veiw-element
      *ngFor="let jewel of jewlries; let i = index"
      [jewelry]="jewel"
      [index]="i"
      [color]="i % 2 == 0"
    >
    </app-veiw-element>
  </ul>
</div>

<router-outlet></router-outlet>
