<!-- <button class="btn btn-warning form-control" (click)="logger()">logger</button> -->

<div class="container">

  <div class="row">

    <div class="col-xl-12">

      <form [formGroup]="addForm" (ngSubmit)="onSubmit()">

        <div class="col-lg-6">

          <div class="row">
            <div class="col-lg-6 form-group form-inline">
              <label for="brand">Brand :</label>
              <input
                type="text"
                id="username"
                formControlName="brand"
                class="form-control"
              />
            </div>

            <div class="col-lg-6 form-group form-inline">
              <label for="name">Name :</label>
              <input
                type="text"
                id="name"
                formControlName="name"
                class="form-control"
              />
            </div>
          </div>

          <div class="row">

            <div class="col-lg-6">
              <div class="form-group form-inline">
                <label for="q">Quantity : </label>

                <input
                  type="number"
                  id="q"
                  formControlName="quantity"
                  class="form-control"
                />
              </div>
            </div>

            <div class="col-lg-6">
              <div class="form-group form-inline">
                <label for="pf">Purchased From :</label>

                <input
                  type="text"
                  id="pf"
                  formControlName="purchasedFrom"
                  class="form-control"
                />
              </div>
            </div>
          </div>

          <div class="row">

            <div class="col-lg-6">
              <div class="form-group form-inline">
                <label for="image">Image Path :</label>
                <input
                  type="url"
                  formControlName="imagePath"
                  class="form-control"
                  (change)="onFileSelect($event)"
                  id="image"
                  #imagePath
                />
              </div>
            </div>

            <div class="col-lg-6">
              <div class="form-group form-inline">
                <label for="purchasedAt">Cost : </label>

                <input
                  type="number"
                  step="0.01"
                  id="purchasedAt"
                  formControlName="cost"
                  class="form-control"
                />
              </div>
            </div>

          </div>

          <div class="row">

            <div class="col-lg-6">
              <div class="form-group form-inline">
                <label for="orderId">Order Id :</label>

                <input
                  type="text"
                  id="orderId"
                  formControlName="orderId"
                  class="form-control"
                />
              </div>
            </div>

            <div class="col-lg-6">
              <div class="form-group form-inline">
                <label for="datePurchased">Date Purchased :</label>

                <input
                  type="date"
                  id="datePurchased"
                  formControlName="datePurchased"
                  class="form-control datepicker"

                />
              </div>
            </div>

          </div>

          <div class="row">

            <div class="col-lg-6">
              <div class="form-group form-inline">
                <label for="weight">Weight : </label>

                <input
                  type="number"
                  id="weight"
                  formControlName="weight"
                  class="form-control"
                />
              </div>
            </div>

            <div class="col-lg-6">
              <div class="form-group form-inline">
                <label for="Sold In">Sold In :</label>

                <input
                  type="text"
                  id="Sold In"
                  formControlName="soldin"
                  class="form-control"
                />
              </div>
            </div>

          </div>

          <div class="row">

            <div class="col-lg-6">
              <div class="form-group form-inline">
                <label for="salesprice">Sales Price :</label>

                <input
                  type="text"
                  id="salesprice"
                  formControlName="salesprice"
                  class="form-control"
                />
              </div>
            </div>

            <div class="col-lg-6">
              <div class="form-group form-inline">
                <label for="pandoraid">Pandora Id :</label>

                <input
                  type="text"
                  id="pandoraid"
                  formControlName="pandoraid"
                  class="form-control"
                />
              </div>
            </div>

          </div>

          <div class="row">

            <div class="col-lg-4 form-group form-inline">
              <label for="con">Condition : </label>
              <br>
              <select class="form-control" name="Condition" id="con" (change)="chooseCon($event)">
                <option value="" disabled>Condition Of Item</option>
                <option class="form-control" *ngFor="let con of conditions; let i = index"
                        [ngValue]="con">{{con}}</option>
              </select>
            </div>

            <div class="col-lg-4 form-group form-inline">
              <label for="met">Metal : </label>
              <br>
              <select class="form-control" name="Metal" id="met" (change)="chooseMet($event)">
                <option value="" disabled>Metal</option>
                <option class="form-control" *ngFor="let met of metals" [ngValue]="met">{{met}}</option>
              </select>
            </div>

            <div class="col-lg-4 form-group form-inline">
              <label for="sto">Stone : </label>
              <br>
              <select class="form-control" name="Stone" id="sto" (change)="chooseStone($event)">
                <option value="" disabled>Stone</option>
                <option class="form-control" *ngFor="let stone of stones" [ngValue]="stone">{{stone}}</option>
              </select>
            </div>

          </div>

          <div class="row">
            <button class="btn btn-primary form-control" type="submit">Submit</button>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="form-group">
            <img [src]="imagePath.value" class="img-responsive"/>
          </div>
        </div>

      </form>


    </div>

  </div>

</div>


